@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Golos+Text:wght@400;500;600;700;800;900&family=Tilt+Warp&display=swap');

body {
    background-color: #0e0e0f;
    font-family: 'Golos Text', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 70px;
    z-index: 100;
}

header > div {
    width: 33.33%;
}

.container {
    height: calc(100% - 70px);
    min-height: calc(100% - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-container {
    height: 80vh;
    display: block;
    background: linear-gradient(#7707ff, #4603aa);
}

.btn-simple {
    background: linear-gradient(#121215, #171718);
    -webkit-box-shadow: 0px 0px 19px -5px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 19px -5px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 19px -5px rgba(0, 0, 0, 1);
    color: white;
    border: none;
    border-radius: 12px;
    padding: 16px 40px;
    font-size: 18px;
    font-weight: 600;
    margin: 10px 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.btn-simple:hover {
    transform: translateY(-5px);
}

.logo {
    letter-spacing: 20px;
    font-size: 32px;
    color: #fff;
    font-family: 'Tilt Warp', cursive;
}

a {
    color: white;
    text-decoration: none;
}

.link {
    color: white;
    font-size: 20px;
    padding: 0 10px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    display: inline-block;
}

.link:hover {
    transform: translateY(-5px);
}

.link a:hover {
    color: #efefef;
}

@keyframes animation-down {
    0% {
        transform: translateY(20px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(20px);
    }
}

.arrowdown {
    animation-name: animation-down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#code_example {
    padding: 100px 60px;
}

.code_example {
    padding: 100px 60px;
}

.title {
    font-size: 70px; 
    font-weight: 700;
    background: linear-gradient(#a75eff, #b889ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.desc {
    font-size: 24px; 
    font-weight: 600;
}

.code-view {
    margin: 20px 0px;
    background-color: #191919;
    width: 70%;
    padding: 20px 20px;
    font-size: 24px;
    font-weight: 600;
    border-radius: 12px;
}

/* GruvboxDark theme */
.code-black   { color: #000000; }
.code-red     { color: #cc241d; }
.code-green   { color: #98971a; }
.code-yellow  { color: #d79921; }
.code-blue    { color: #458588; }
.code-magenta { color: #b16286; }
.code-cyan    { color: #689d6a; }
.code-white   { color: #a89984; }
.code-gray    { color: #676664; }

.normal-links {
    color: #7707ff;
}

.start_using {
    padding-top: 50px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discord-server-widget-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.discord-server-widget {
    /* background-color: #4603aa; */
    background: linear-gradient(#7707ff, #4603aa);
    margin: 30px 0px;
    max-width: 30%;
    padding: 15px 25px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discord-server-widget-title {
    font-size: 20px;
    font-weight: 700;
}

.discord-server-widget-desc {
    font-size: 15px;
    font-weight: 600;
    color: #b8b8b8;
}

.discord-server-widget-button {
    background: linear-gradient(#ffffff, #dcdcdc);
    border: none;
    border-radius: 12px;
    padding: 5px 20px;
    font-weight: 700;
}

.warning {
    font-size: 18px;
    font-weight: 700;
    padding: 5px 10px;
    color: white;
    background-color: #222222;
    top: 0;
    width: 100%;
}